/* globals */
* {
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Google Fonts Material Symbols settings */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 12px;
}

.container {
    display: grid;
    grid-template-columns: minmax(180px, 1fr) 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
}

/* sidebar styles */
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    padding: 1em;
    background-color: rgb(45, 130, 221);
    color: rgb(244, 244, 220);
    container-type: inline-size;
}

.header-logo {
    font-size: clamp(0.8rem, 9cqw, 2rem);
    display: flex;
    align-items: center;
}

.header-logo span.material-symbols-outlined {
    font-size: clamp(0.8rem, 10cqw, 2.5rem);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sidebar-main-menu,
.sidebar-secondary-menu {
    margin-top: 3em;
    margin-left: 1em;
    display: grid;
    gap: 0.5em;
}

.sidebar-main-menu li,
.sidebar-secondary-menu li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 1em;
    font-size: clamp(0.8rem, 6cqw, 1.4rem);
}

.sidebar .material-symbols-outlined {
    font-size: 0.9em;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.4em;
}

.sidebar a:link,
.sidebar a:visited {
    color: inherit;
    transition: transform 100ms ease-in-out;
}

.sidebar a:hover {
    transform: 
        scale(1.1)
        translateX(0.8em);
}

.sidebar a span:not(.material-symbols-outlined) {
    transition: transform 100ms ease-in-out;
    display: inline-block;
}

.sidebar a:active span:not(.material-symbols-outlined) {
    transform: translateX(-0.3em);
}

.sidebar a:active .material-symbols-outlined {
    transform: scale(0.9);
    transition: transform 100ms ease-in-out;
}

/* header styles */
/* header top row */
.header {
    grid-area: 1 / 2 / 2 / 3 ;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    position: relative;
    z-index: 10;
    row-gap: 1.25em;
    box-shadow: 0em 0.3em 0.5em grey;
    padding: 1em 2.5em;
    container-type: inline-size;
    font-size: clamp(0.2em, 0.8cqw, 5em);
}

.header .material-symbols-outlined {
    font-size: 2cqw;
}

.search-bar {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: clamp(0.2em, 1cqw, 5em);
    background-color: rgb(218, 218, 218);
    margin-right: 4em;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 20px;
}

.search-btn {
    background-color: inherit;
    border: none;
    margin-right: 0.25em;
    transition: transform 300ms ease-in-out;
}

.search-btn:hover .material-symbols-outlined {
    cursor: pointer;
    animation: search-animation 2000ms ease-in-out infinite;
}

.search-btn:active {
    transform: scale(1.3);
    color: rgb(60, 160, 60);
}

.search-btn:active ~ input[type="text"] {
    background-color: rgb(187, 219, 187);
    transition: background-color 600ms ease-in-out;
}

.user-profile {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 0em 0.5em;
}

.icon-btn {
    background-color: inherit;
    border: none;
}

.icon-btn .material-symbols-outlined {
    transition: transform 300ms ease-in-out;
}

.icon-btn:hover .material-symbols-outlined {
    cursor: pointer;
    animation: pulse-animation 600ms ease-in-out infinite;
}

.icon-btn:active .material-symbols-outlined {
    color: rgb(255, 213, 43);
}

.avatar-small {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
    margin: 0em 0.8em;
}

/* header second row */
.welcome-card {
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: auto 1fr;
    column-gap: 2em;
}

.avatar-large {
    grid-area: 1 / 1 / 3 / 2;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    object-fit: cover;
}

.salutation {
    grid-area: 1 / 2 / 2 / 3;
    font-size: clamp(0.2em, 1cqw, 5em);
    align-self: self-end;
}

.jumbo-user {
    grid-area: 2 / 2 / 3 / 3;
    font-size: clamp(0.2em, 2cqw, 5em);
    align-self: self-start;
}

.header-buttons {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1.5em;
}

.header-buttons input[type="button"] {
    background-color:  inherit;
    color: rgb(45, 130, 221);
    padding: 1em 2em;
    font-size: clamp(0.2em, 1cqw, 5em);
    font-weight: 600;
    border: 2px solid rgb(45, 130, 221);
    border-radius: 2em;
    transition: 
        background-color 200ms ease-in-out,
        color 200ms ease-in-out;
}

.header-buttons input[type="button"]:hover {
    cursor: pointer;
    background-color:  rgb(45, 130, 221);
    color: rgb(244, 244, 220);
    border: 2px solid inherit;
    transition: 
        background-color 200ms ease-in-out, 
        color 200ms ease-in-out;
}

.header-buttons input[type="button"]:active {
    transform: scale(0.9);
    background-color:  rgb(30, 94, 164);
    transition: 
        background-color 100ms ease-in-out, 
        transform 100ms ease-in-out;
}

/* main section */
.main {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    background-color: rgb(240, 240, 240);
    padding: 0.5em 2em;
}

.main-left {
    display: flex;
    flex-flow: column;
    container-type: inline-size;
}

.main-left .material-symbols-outlined {
    font-size: clamp(0.2em, 2cqw, 5em);
}

.main-title {
    font-size: clamp(0.2em, 1.5vw, 5em);
    padding: 1em 0em;
}

.projects {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    height: 100%; 
}

.project-title {
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 0.25em;
    line-height: 1.5;
}

.project-card {
    font-size: clamp(0.2em, 1.2cqw, 5em);
    font-weight: 100;
    line-height: 1.5;
    text-align: justify;
    background-color: white;
    padding: 1em;
    border-radius: 0.5em;
    border-left: 1em solid rgb(255, 213, 43);
    box-shadow: 0em 0.3em 0.5em grey;
}

.project-btn .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48;
    transition: font-variation-settings 200ms ease-in-out;
}

.project-btn .material-symbols-outlined:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48;
    transition: font-variation-settings 200ms ease-in-out;
}

.project-btn {
    border: none;
    background-color: inherit;
    padding: 0.2em;
    margin-top: 1.5em;
    justify-content: end;
    transition: 
        transform 200ms ease-in-out,
        color 100ms ease-in-out;
}

.project-btn:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.project-btn:active {
    color: rgb(224, 0, 0);
    transition: color 100ms ease-in-out;
}

.project-btn-bay {
    display: flex;
    flex-flow: row;
    justify-content: end;
    gap: 1em;
}

.main-right {
    grid-area: 1 / 2 / 3 / 3;
    margin-top: 2em;
    margin-left: 3em;
}

.announcements {
    display: flex;
    flex-flow: column;
    font-weight: 100;
    font-size: clamp(0.2em, 0.6vw, 5em);
    text-align: justify;
    background-color: white;
    margin-top: 1em;
    padding: 1.5em 4em;
    gap: 0;
    border-radius: 0.5em;
    box-shadow: 0em 0.3em 0.5em grey;
}

.announcement-title {
    font-weight: 900;
    font-size: clamp(0.2em, 0.8vw, 5em)
}
.announcement-card {
    position: relative;
    padding: 1em 0;
}

.announcement-card:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%; 
    width: 80%;
    height: 1px;
    background-color: rgb(159, 159, 159);
}


@keyframes pulse-animation {
    0% {
        transform: scale(1) rotate(0turn)
    }
    25% {
        transform: scale(1.1) rotate(0.1turn);
    }
    50% {
        transform: scale(1) rotate(0turn);
    }
    75% {
        transform: scale(0.9) rotate(-0.1turn);
    }
    100% {
        transform: scale(1) rotate(0turn);
    }
}

@keyframes search-animation {
    0% {
        transform: translate(0em, 0em);
    }
    20% {
        transform: translate(-0.1em, -0.1em);
    }
    40% {
        transform: translate(0.1em, -0.1em);
    }
    60% {
        transform: translate(-0.1em, 0.2em);
    }
    80% {
        transform: translate(0.1em, 0.2em);
    }
    100% {
        transform: translate(0em, 0em);
    }
}